@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap");
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px;
}
.navbar {
  text-decoration: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  /* position: fixed; */
  top: 0;
  width: 100%;
  list-style-type: none;
}

.navbar-nav {
  color: azure;
}
.nav-item {
  margin-left: 1%;
  margin-right: 1%;
}
.text-light {
  text-decoration: none;
}
.tableui {
  border-radius: 8px;
  margin: 8%;
  padding: 24px;
  border-top-color: rgb(0, 0, 0);
  margin-top: 2%;

  background-color: rgb(215, 243, 250);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.text {
  font-weight: 600;
  text-align: center;
  padding: 25px;

  color: #000000;
}
.boxui {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  font-weight: 700;
  background-color: rgb(205, 152, 255);
  font-size: 18px;
  border-top-color: rgb(0, 0, 0);
  margin-bottom: 2%;
  padding: 4%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
  text-align: center;
}
.file {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
}

.box {
  position: absolute;
  cursor: move;
  color: black;
  max-width: 215px;
  border-radius: 5px;
  padding: 1em;
  margin: auto;
  user-select: none;
  background-color: aqua;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.todomain {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

  text-align: center;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
  border-radius: 8px;
  color: black;
}

.todocard {
  margin: 5%;
}

.todo {
  background-color: rgb(236, 231, 241);
  font-weight: 600;
  border-radius: 8px;
  margin: 2%;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.droppable {
  background-color: rgb(236, 231, 241);
  font-weight: 600;
  border-radius: 8px;

  margin: 2%;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.draggable {
  background-color: rgb(91, 31, 160);
  font-weight: 600;
  border-radius: 8px;
  padding: 2%;
  margin: 2%;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  color: white;
}

.mybutton {
  border-radius: 8px;
  background-color: #000000;
  margin: 2%;
  color: white;
}

.myinput {
  border-radius: 8px;
}
.profiimg {
  border-radius: 50%;
  width: 75px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.round-effect {
  color: #dd4124;
  cursor: pointer;
  /*   border:1px solid red; */

  font-size: 16px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 9px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-decoration: none;
}

.round-effect:hover {
  text-decoration: none;
  background: #dd4124;
  color: #fff;
}
.round-effect:hover a {
  text-decoration: none;
  color: #fff;
}

.active {
  background: #dd4124;
  color: #fff;
}
a:link {
  text-decoration: none;
  color: #dd4124;
}
.tableui2 {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.m {
  margin-top: 25%;
  margin-left: 47%;
  margin-bottom: 25%;
}
.errorstyle {
  color: hsl(0, 0%, 0%);
  background-color: #f38787;
  border-radius: 4px;
}
.myb {
  border-radius: 4px;
  background-color: rgb(157, 115, 236);
  color: #000000;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  font-weight: 600;
}
.myb:hover {
  background-color: aliceblue;
  transition: 0.6s;
}
.link {
  color: white;
  text-decoration: none;
  transition: all 200ms linear;
}
.link:hover {
  border-bottom: 4px solid #5fe0c6;
  color: #5fe0c6;
  text-decoration: none;
  border-radius: 2px;
}

.link-active {
  color: rgb(255, 255, 255);
  /* background: orange; */
  text-decoration: none;
  /* background-color: #fff; */

  border-bottom: 4px solid #5fe0c6;
  border-radius: 2px;
}
.link-active:hover {
  color: #5fe0c6;
}
.loginui {
  border-radius: 8px;

  padding: 24px;
  border-top-color: rgb(0, 0, 0);
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 10%;
  background-color: rgb(215, 243, 250);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.loginuia {
  margin-bottom: 2%;
  margin-top: 5%;
}
.loginuib {
  text-align: center;
  margin-bottom: 10%;
}

.image-crop {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(2px 2px 2px #222);
  border-radius: 50%;
  width: 25%;
}

.profileui {
  border-radius: 8px;
  padding: 24px;
  margin-left: 2%;
  margin-right: 2%;
  border-top-color: rgb(0, 0, 0);
  background-color: rgb(215, 243, 250);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.updateui {
  margin: 15px;
}
.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a {
  background-color: #000000;
  border-color: #000000;
  color: #fff;
}
.pagination > li > a {
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #000000;
  border-color: #000000;
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: #000000;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}
.todoui {
  background: rgb(205, 206, 255);
  color: rgb(0, 0, 0);
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 5%;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
